AI_API_KEY=YOUR_API_KEY
AI_API_KEY_2_OPENAI=YOUR_SECOND_API_KEY
MODERATION_API_KEY=YOUR_THIRD_API_KEY
MODERATION_API_KEY_2_OPENAI=YOUR_FOURTH_API_KEY
DISCORD_CLIENT_ID=FOR_THE_LINK
DISCORD_CLIENT_SECRET=TO_LINK
DISCORD_BOT_TOKEN=YOUR_DISCORD_TOKEN
DISCORD_WEBHOOK_URL=YOUR_WEBHOOK
SIB_BOT_SECRET=FOR_THE_BOT
PUBLIC_ORIGIN=LINK_TO_WEBSITE
ADMIN_ACCOUNT_ID=ADMIN_ACCOUNT_USERNAME
ADMIN_INITIAL_PASSWORD=ADMIN_ACCOUNT_PASSWORD